<div class="container section">
  <!-- Text to action -->
  <div class="columns is-vcentered">
    <div class="column is-one-third">
      <div>
        <div class="block">
          <div class="block">
            <h1 class="title is-3">
              Let us help you build something amazing!
            </h1>
          </div>
          <h5 class="subtitle is-6">
            AlsoLab focuses on delivering exceptional design and development
            results to bring best user experience for your product.
          </h5>
        </div>
        <div class="button is-info is-large is-rounded">
          Get started
        </div>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/pc-iphone.png" alt="applications" />
    </div>
  </div>
</div>

<!-- Development flow section -->
<div class="section flow-section">
  <div class="columns is-vcentered">
    <div class="column">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="container">
            <div class="block">
              <h1 class="title is-3 has-text-white">
                Development flow for maximum success
              </h1>
            </div>
            <div class="block">
              <h5 class="subtitle is-6 has-text-white">
                We will carefully analyze problems and layout different
                solutions. Every week we will iterate on results and update list
                of tasks, based on stakeholder feed back.
              </h5>
            </div>
            <h5 class="subtitle is-6 has-text-white">
              By working on 2 week sprint basis, we make development process
              flexible.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <img
        src="/assets/img/Flow graph.png"
        alt="flow-graph"
        class="flow-graph"
      />
    </div>
  </div>
</div>

<div class="section tools-section is-medium">
  <div class="container block">
    <h1 class="title is-3  block has-text-centered">
      Tools and expertise for maximum efficiency
    </h1>
  </div>
  <div class="columns">
    <div class="column">
      <div class="box toolbox">
        <div class="block">
          <h4 class="title is-4">Web and Mobile development</h4>
        </div>
        <div class="level">
          <div class="level-left">Ruby on Rails</div>
          <div class="level-right">
            <img
              class="tools-image"
              src="/assets/img/Ruby_On_Rails_Logo.png"
              alt="ror"
            />
          </div>
        </div>
        <div class="level">
          <div class="level-left">React / React Native</div>
          <div class="level-right">
            <img
              class="tools-image"
              src="/assets/img/iconfinder_React.js_logo_1174949.png"
              alt="react"
            />
          </div>
        </div>
        <div class="level">
          <div class="level-left">Angular</div>
          <div class="level-right">
            <img
              class="tools-image"
              src="/assets/img/angular.png"
              alt="angular"
            />
          </div>
        </div>
        <div class="level">
          <div class="level-left">Laravel</div>
          <div class="level-right">
            <img
              class="tools-image"
              src="/assets/img/220px-Laravel.png"
              alt="laravel"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box toolbox">
        <div class="block">
          <h4 class="title is-4">Design and Project planning</h4>
        </div>
        <div class="level">
          <div class="level-left">Research</div>
        </div>
        <div class="level">
          <div class="level-left">UI/UX design</div>
        </div>
        <div class="level">
          <div class="level-left">Sprint planning</div>
        </div>
        <div class="level">
          <div class="level-left">Web and Mobile design</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <h4 class="title is-4">Looking for something else?</h4>
        <button class="button is-info is-rounded is-large">Ask question</button>
      </div>
    </div>
  </div>
</div>

<div class="section action-section is-large">
  <div class="columns is-centered is-vcetered">
    <div class="column is-half">
      <div class="box">
        <div class="block">
          <h1 class="title is-3 has-text-centered">
            Small steps for big success
          </h1>
        </div>
        <div class="block">
          <h4 class="subtitle is-6">
            “We are small team of specialists, that are focused on high quality
            code and software development. We will walk through project
            development and evolution together. Plan, design, test and release!
          </h4>
        </div>
        <div class="block">
          <h4 class="subtitle is-6">
            Let’s make something great together!”
          </h4>
        </div>
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <figure class="image is-64x64 is-relative">
              <img
                src="/assets/img/rem-square.png"
                alt="avatar"
                class="is-rounded"
              />
            </figure>
            <div class="avatar-info">
              <h6 class="title is-6 is-marginless">Rem Kim</h6>
              <span class="subtitle is-7">Co-founder "AksoLab"</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conteiner has-text-centered">
    <a
      href="/project-form"
      class="button is-info has-text-white is-large is-rounded"
    >
      Start project with us
    </a>
  </div>
</div>
