<nav
  class="navbar container if-fluid"
  aria-label="navigation"
  role="navigation"
>
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img
        src="/assets//img/logo.png"
        alt="AksoLab logo"
        width="140"
        style="max-height: none !important;"
      />
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <!-- <a href="#about-us" class="navbar-item">About us</a> -->
      <a href="#contact" class="navbar-item">Contact us</a>
      <div class="navbar-item">
        <a href="/project-form" class="button is-info is-rounded is-large"
          >Start project with us</a
        >
      </div>
    </div>
  </div>
</nav>
