body {
  font-family: "Open Sans", sans-serif;
}

.flow-section {
  background-image: url("/assets/img/mask-flow.png");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.flow-graph {
  max-width: 500px;
}
.rd-block {
  background-color: #f77d7d;
  position: absolute;
  width: 100vw;
  height: 20px;
}

.toolbox {
  min-height: 350px;
}

.tools-image {
  max-width: 80px;
  max-height: 40px;
}

.tools-section {
  background-image: url("/assets/img/Mask\ Group\ 2.png");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}
.avatar-info {
  margin-left: 8px;
}
.action-section {
  background-image: url("/assets/img/Mask\ Group\ 3.png");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}
